.border-animation {
  background-color: white;
  height: 500px;
  border-radius: 10px;
  position: relative;
}

.border-animation:after {
  content: "";
  background: linear-gradient(45deg, #ccc 48.9%, #0170bb 49%);
  background-size: 300% 300%;
  border-radius: 10px;
  position: absolute;
  top: -5px;
  left: -5px;
  height: calc(100% + 10px);
  width: calc(100% + 10px);
  z-index: -1;
  animation: borderGradient 8s linear both infinite;
}

@keyframes borderGradient {
  0%,
  100% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
}

.border-style {
  border-radius: 20px;
  background: rgb(35, 200, 90);
  height: 100px;
  width: 100%;
  position: relative;
  margin-top: 3rem;
}

.border-style > div {
  right: 10%;
  width: 20%;
  position: absolute;
  background: #fafafa;
  height: 50px;
  border-radius: 0 0 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.border-style > div::after {
  content: "";
  position: absolute;
  top: 0px;
  height: 50px;
  right: -25px;
  width: 25px;
  border-top-left-radius: 25px;
  box-shadow: 0 -25px 0 0 #fafafa;
}

.border-style > div::before {
  content: "";
  position: absolute;
  top: 0px;
  height: 50px;
  left: -25px;
  width: 25px;
  border-top-right-radius: 25px;
  box-shadow: 0 -25px 0 0 #fafafa;
}

.button1 {
  border-radius: 25px;
  margin-top: 50px;
  border-color: transparent;
  background-color: transparent;
  transition: all ease-in-out 0.3s;
}

.button1:hover {
  padding: 4px;
  border-color: black;
}

.button1 > p {
  padding: 10px;
  padding-inline: 40px;
  border-radius: 25px;
  border: none;
  color: white;
  background-color: #0170bb;
}
